.header-controls {
  display: flex;
  gap: var(--size-base);
}

.header-controls__button,
.header-controls__select {
  border-radius: 6px;
  font-size: var(--size-2xl);
}

@media (max-width: 640px) {
  .header-controls {
    display: none;
  }
}
