.header-controls {
  display: flex;
  gap: var(--size-base);
}

.header-controls__button,
.header-controls__select {
  background: var(--color-button);
  border-radius: 6px;
  font-size: var(--size-2xl);
  color: var(--color-button-text);
}

@media (max-width: 475px) {
  .header-controls__button,
  .header-controls__select {
    font-size: var(--size-sm);
  }
}
